.banner {
   display: grid;
   grid-template-columns: 200px 200px;
   background-color: #8cc1ec;
}

img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: float-right;
}

h1 {
    background-color: White;
    text-align: right;
    font-size: 80px;

}

